*{
    box-sizing: border-box; /*Incorpora 'margins', 'paddings' etc tudo dentro de uma caixa */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo{
    flex: 20%;
    margin-left: 5%;
    text-align: left;
}

.logo h1{
    font-family: 'Lobster', cursive;
    color: #180f4a;
    font-size: 24px;
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #362b41;
    text-decoration: none;
    font-size: 14px;
    padding: 20px 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu a:hover{ /* Hover é ativado quando o mouse passa por cima do ícone */
    color:#573d70;
    font-size: 15px;
    border-top: 4px solid #573d70;    
}
main{
    background-color: #362b41;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100vh;
    flex-direction: column;
}

/* Elemento de tag <body> */
.container{
    background-color: #573d70;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    width: 40vw;
    height: 58vh;
    margin: 30px;
    padding: 20px;
    border-radius: 5%;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px #000029b5;
}

/* Elementos com o ID "titulo" */
.titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: rgb(168, 163, 163);
    margin-left: 35%;
    text-transform: uppercase;
} 

/* Elementos com o ID "subtitulo" */
.subtitulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(168, 163, 163);
    margin-left: 16%;
    margin-top: 5px;
} 

/* Elementos de tag <fieldset>*/
fieldset {
    border: 0;
}

/* Inputs do nome e Sobrenome */
input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #59429d;
    border-radius: 5px;
    margin: 2px;
    box-shadow: 0px 0px 20px 0px #00002975;
}
#email{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #59429d;
    border-radius: 5px;
    margin: 2px;
    width: 50%;
    box-shadow: 0px 0px 20px 0px #00002975;
}
textarea{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: #59429d;
    border-radius: 5px;
    margin: 2px;
    box-shadow: 0px 0px 20px 0px #00002975;
    padding: 5px;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #59429d;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 0px 20px 0px #00002975;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    color: rgb(168, 163, 163);
    display: block;
    margin: 2px;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

/* Elemento de classe "botao" */
.botao{
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-top: 20px;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-right: -50%;
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #b3b8cd;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao, select{
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
        
}

footer .rede_sociais a img:hover{
    background-color: #b3b8cd;
    border-radius: 20%;
}


