            /* Configurações iniciais da página */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

            /* Barra de navegação */
.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo{
    flex: 20%;
    margin-left: 5%;
    text-align: left;
}

.logo h1{
    font-family: 'Lobster', cursive;
    color: #180f4a;
    font-size: 24px;
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #362b41;
    text-decoration: none;
    font-size: 14px;
    padding: 20px 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu a:hover{ /* Hover é ativado quando o mouse passa por cima do ícone */
    color:#573d70;
    font-size: 15px;
    border-top: 4px solid #573d70;    
}

            /* Conteúdo Pincipal */
.container{
    background-color: #362b41;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 50vh;
    padding-top: 2%;   
}

.card_img{
    background-color: #3e2e4e;
    border-radius: 100%;
    box-shadow: 0px 0px 20px 0px #000029;
    color: #b3b8cd;
    padding: 0.5%;
    position: absolute;
    top: 19%;
    left: 15%;
    max-width: 300px;
    cursor: pointer;
}
.card_img:hover{
    background-color: #573d70;
    padding: 0.7%;
    cursor: cell;
}

.card_img img{
    width: 100%;
}

.container .card_img img{
    border: 1px solid white;
    padding: 7px;
    border-radius: 50%;
}

.banner img{
    position: absolute;
    top: 10%;
    right: 20%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 30vh;
    padding-top: 2%;
}

.form .contato{
    position: absolute;
    top: 500px;
    left: 25%;    
}

.form .contato h2{
    margin-bottom: 10px;
}

.form .resumo{
    position: absolute;
    top: 500px;
    left: 50%;    
}

.form .resumo h2{
    margin-bottom: 10px;
}

.form .resumo p{
    max-width: 85%;
}

            /* Rodapé com as redes sociais */
footer{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
}

footer .rede_sociais a img:hover{
    background-color: #b3b8cd;
    border-radius: 20%;
}