*{
    box-sizing: border-box; /*Incorpora 'margins', 'paddings' etc tudo dentro de uma caixa */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo{
    flex: 20%;
    margin-left: 5%;
    text-align: left;
}

.logo h1{
    font-family: 'Lobster', cursive;
    color: #180f4a;
    font-size: 24px;
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #362b41;
    text-decoration: none;
    font-size: 14px;
    padding: 20px 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu a:hover{ /* Hover é ativado quando o mouse passa por cima do ícone */
    color:#573d70;
    font-size: 15px;
    border-top: 4px solid #573d70;    
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #362b41
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin: 10px;
    color: rgb(168, 163, 163);
}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(168, 163, 163);
}
.paginas{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   
}

.pag{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    width: 600px;
    height: 300px;
    margin: 20px;
    margin-top: 20px;
    background-color: #3e2e4e;
    box-shadow: 0px 0px 20px 0px #00002975;
    cursor: pointer;
}

.pag:hover{
    width: 605px;
    height: 305px;
    border: 5px solid #845ca9;
}

.loopstudios{
    background-image:url(/img/loopstudio.png);
    background-size: cover;
}

.agencia_fake{
    background-image:url(/img/agencia_fake.png);
    background-size: cover;
}

.cordel{
    background-image:url(/img/cordel.png);
    background-size: cover;
}

.redes_sociais{
    background-image:url(/img/redes_sociais.png);
    background-size: cover;
}

footer{
    display: flex;
    justify-content: center;
    margin: 40px 0px 10px 0px;
    
}

footer .rede_sociais a img:hover{
    background-color: #b3b8cd;
    border-radius: 20%;
}