body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
/* .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 5%;
    margin: 20px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: darkgray;
    cursor: pointer;    
}
.btn:hover{
    background-color: rgb(67, 65, 65);
    color: white;
} */
.resposta{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    width: 20%;
    height: 10%;
    border-radius: 10px;
    /* border: 1px solid black; */
}

.error{
    background-color: red;
    color: white;
    font-size: 23px;
    padding: 5px;
}